{{ back }}

<h1 class="heading--title heading--alt">{{ title }}</h1>
<h2 class="heading--sub">{{ 'Change role' }}</h2>

<div class="well">
  <p>{{ 'This role is published. You can edit, duplicate or unpublish it. You will need to submit any changes to Team London administrators for approval before the role is updated on the website.'|t }}</p>
</div>

<h2 class="heading--sub heading--alt">{{ 'All changes will require reapproval.'|t }}</h2>

{{ link }}

{{ see_published }}
