<p>{{ 'To add a new team member you will need to enter their:'|t }}</p>
<ul>
  <li>{{ 'email address'|t }}</li>
  <li>{{ 'full name'|t }}</li>
</ul>
<span>
  <p>{{ 'Team members will be able to edit and publish roles on behalf of your organisation.'|t }}</p>
</span>

{{ back }}
{{ start }}
