{{ title }}
<p>{{ 'You will be asked to change the following before being able to edit the rest of the role:'|t }}</p>
<ul>
  <li>{{ 'Title of Role'|t }}</li>
  <li>{{ 'Role Advertising dates'|t }}</li>
</ul>
<span>
  <p>{{ 'Duplicated roles require approval by Team London administrators before being published'|t }}</p>
</span>
<p>{{ 'You can view your duplicated role by going to Manage roles'|t }}</p>
{{ link }}
