<p>{{ 'You\'ll need to'|t }} {{ create_account }} {{ 'to register your interest in this opportunity.'|t }}</p>
<p>{{ 'If you already have an account, you can'|t }} {{ sign_in }}.</p>
<a href="{{ back_url }}">{{ 'Back'|t }}</a>
<a href="{{ url('user.login') }}">{{ 'Get started'|t }}</a>
