<p>{{ 'You can find this role at any time by returning to your'|t }} {{ draft_opportunities }} {{ 'page'|t }}.</p>

<h4>{{ 'Next steps:'|t }}</h4>

<ul class="list-unstyled">
  <li>{{ create_new }}</li>
  <li>{{ return_to_profile }}</li>
  <li>{{ read_more }}</li>
  <li>{{ dashboard }}</li>
</ul>
